html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	color: #333333;
	background: #f5f5f5;
}

.navbar-inner {
	border:1px solid #d4d4d4;
}
.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}
.right {
	text-align: right !important;
}

.skin-blue .main-header .logo {
	background-color: #fff;
	color: #367FA9;
}

.skin-blue .main-header .logo:hover {
	background-color: #fff;
}

.content-header small {
	text-transform: uppercase;
}

.breadcrumb li,
.breadcrumb li a {
	text-transform: capitalize;
}

#thumb,
#thumb img {
	max-width: 100%;
}

ul.pagination {
	margin: 0px;
}

div.version {
	border-top: 1px solid #cecece;
	padding: 20px 0;
	margin-top: 20px;
	font-size: 9px;
	text-align: center;
	color: #cecece;
}
div.version a {
	color: #cecece;
}
div.choose-select {
	/* margin: 10px 0px 30px 0px; */
	margin: 0px;
	padding: 0px;
}
select.t-time {
	width: 60px;
}

/****** jQuery UI Overrides ******/
.datepicker {
	width:100%;
	cursor: pointer !important;
	padding: 15px !important;
	background: #ffffff !important;
	border: 1px solid #cccccc !important;

	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
img.ui-datepicker-trigger {
	display: none;
}
label.error {
	float: none;
	text-align: left;
	width: 100%;
	color: #a20000;
	display: block;
	font-size: 100%;
}

/****** Bootstrap Overrides ******/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 12px;
}
table.table-list {
	width: 100%;
}
table.table-form {
	width: 100%;
}
table.table-form th {
	padding-right: 10px;
	width: 150px;
	text-align: right;
}
table.table-form th, table.table-form td {
	padding: 10px;
	vertical-align: top;
}
table.table-list th.checkbox {
	width: 13px;
	padding: 0;
	margin: 0;
	text-align: center;
}
table.table-list th.checkbox input[type="checkbox"] {
	padding: 0;
	margin: 0;
	float: none;
}
table.table-list th, table.table-list td {
	padding: 10px;
}
div.page-nav {
	float: right;
}
div.sidebar-nav {
	border-right: 1px solid #cecece;
	padding-bottom: 40px;
}
div.pagination {
	text-align: center;
}

/*** tablesorter ***/
table .header {
	cursor: pointer;
}
table .header:after {
	content: "";
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #000 transparent;
	visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
	background-color: rgba(141, 192, 219, 0.25);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
	visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
	visibility: visible;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
table .headerSortUp:after {
	border-bottom: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	visibility: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
.form-max-width {
	width: 528px;
}
.photo_gallery_holder{
	margin-bottom: 40px;
}
.photo_list .photo_entry{
	/*
	max-width: 150px;
	max-height: 150px;
	*/
	width: 100%;
}
.photo_list {
	list-style: none;
	display:inline-block;
}

.imagesHolder{
	height: auto !important;
	overflow-y: scroll;
}
.photo_container{
	max-width: 150px;
    height: 150px;
   	overflow: hidden;
}
.photo_container img{
	width: 100%;
}
.imagesHolder::-webkit-scrollbar{
	height: 6px;
	width: 6px;
}
.imagesHolder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(205,202,198,1.0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 1px;
}
.imagesHolder::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bdbab5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.imagesHolder::-webkit-scrollbar-thumb:window-inactive {
	background: #bdbab5;
}
.functions{
	width: 370px;
	position: absolute;
	top: 5px;
}
.functions input[type="checkbox"]{
	margin-left: 3px;
}
.functions a{
	color: #fff;
}
.functions a:hover{
	opacity: 0.7;
}
.functions div a span{
	padding: 5px 0 0 0;
}

@keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 80%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}
@-webkit-keyframes fadeAnimation {
	from {
		opacity: 0;
		top: 80%;
	}
	to {
		opacity: 1;
		top: 100%;
	}
}


/*********************************
	Redactor Override
*********************************/
.redactor_droparea,
.redactor_dropalternative,
#redactor-tab-control-2 {
	display: none !important;
}

/********************************
	Notification Override
********************************/
#page-notification {
	position: fixed;
	bottom: 10px;
	right: 10px;
	min-width: 300px;
	max-width: 500px;
	z-index: 99999;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	vertical-align: middle;
}

.table.table-view>thead>tr>th,
.table.table-view>tbody>tr>th,
.table.table-view>tfoot>tr>th {
	width: 220px;
}

.dropdown-menu.table-action {
	right: 0;
	left: auto;
	min-width: 100px;
}

.fancybox-skin {
	background: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.fancybox-close {
	background: url('../images/close.png') center center no-repeat !important;
	top: -24px;
	right: 12px;
}

.skin-blue .logo {
	background:white;
}

.skin-blue .logo:hover {
	background: #fbfbfb;
}

/**************** LOGIN *******************/
.login-logo {
	margin-top: 50px;
}
.login-form-container {
	background-color: #fff;
	margin-top: 20px;
	border-top: 1px solid #03a7e0;
}
.login-form-title {
	background-color: #03a7e0;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 15px 0;
	font-size: 18px;
}
.login-form {
	padding: 20px 15px 10px;
}
.login-form .form-control,
.login-form .btn {
	border-radius: 0;
}
.login-form .btn {
	border: none;
	font-size: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 30px;
	margin: 15px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.login-form .btn.btn-solid {
	background: #FF8300;
	box-shadow: 0 4px #B25B00;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.login-form .btn.btn-solid:hover {
	top: 2px;
	box-shadow: 0 2px #B25B00;
}
.login-form .btn.btn-solid:active {
	top: 4px;
	box-shadow: none;
}
.captcha-instruction {
	margin-bottom: 0;
}
#captcha {
	margin-bottom: 10px;
}

#quote {
	font-size: 26px;
}

#quote b {
	display: none;
}

#quote a:before {
	content: "-";
}
#quote a {
	font-size: 16px;
	color:#1A2226;
}