body {
  background-color: #03a7e0;
  color: #fff;
}

#sumo-bubble {
  position: relative;
  background-color: #fff;
  border-radius: 100%;
  margin: 0 auto;
  top: 50%;
}

#sumo-bubble-med {
  position: absolute;
  width: 25.16339869281%;
  height: 25.16339869281%;
  background-color: #fff;
  border-radius: 100%;
  bottom: -5%;
  left: 10%;
}

#sumo-bubble-small {
  position: absolute;
  width: 12.418300653595%;
  height: 12.418300653595%;
  background-color: #fff;
  border-radius: 100%;
  bottom: -10%;
  left: -5%;
}

.sumo-logo {
  display: block;
  margin: 0 auto 20px;
}

.sumo-bubble-content input {
  border-radius: 0;
}

.sumo-bubble-content input[type="submit"] {
  text-transform: uppercase;
  font-family: 'vag_roundedbold';
  border: none;
  border-bottom: 2px solid #03aae0;
  letter-spacing: 1px;
}
