/** css styles to take out default css on bootstrap **/

form {
  margin-bottom: 0;
}
input[type="text"] {
  margin-bottom: 0;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
}
ul {
  margin-left: 0;
  margin-bottom: 0;
}
li {
  list-style-type: none; 
 }
 
 /**-- END -- **/